{{ > header}}
		
		<form method="POST" class="ui fluid form">
			<fieldset>
				<br/><h1>Bienvenue sur mon projet SpringBoot</h1><br/><hr/>
				
				<br/><div class="field">			
					<h2>Veuillez commencer par creer une ebauche de notre base de donnees</h2>
					<button class="ui positive button"><a href="http://localhost:8080/create">Create</a></button>					
				</div><br/>
				
				<div class="field">			
					<h2>Veuillez commencer par aller sur la page de connection</h2>
					<button class="ui positive button"><a href="http://localhost:8080/login">Log in</a></button>					
				</div><br/>	
			</fieldset>
		</form>

{{ > footer}}